<h2>Your Picks</h2>
  <% @order_items.each do |order_item| %>
    <div class="addedFoodDiv"> 
      <b><%= order_item.item.name %></b>
      <br />
      <%= order_item.item.description %>
      <br />
      Quantity: <%= order_item.quantity %>
      Price: <%= number_to_currency order_item.item.price, unit: "kr", separator: ",", format: "%n %u" %>
      <br />
      <%= link_to 'Delete Item', order_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<div class="totalPrice">
  <h4> Total Price: <%= number_to_currency @order.subtotal, unit: "kr", separator: ",", format: "%n %u" %></h4>
</div>