<h2>Update Item</h2>

<%= form_for @product do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>

  <%= form.label :description %><br>
  <%= form.text_area :description, :cols => "40" %><br>

  <%= form.label :price %><br>
  <%= form.text_field :price, :size => 10 %><br>

  <%= form.submit "Submit Product" %>
<% end %>